<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="card">
      <h1>Chatter Box</h1>
      <form action="/chat" method="post">
      <input class="name" name="name" type="text" placeholder="Enter Your Name">
       <input class="button" type="submit" value="Join">
      </form>
      <p>please read the <a href="#">terms and conditions</a> of the chatter app <br> to move ahead as a user </p>
    </div>
  </body>
</html>
